extends ./layouts/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit, inventore ullam. Debitis blanditiis, a temporibus placeat ea vitae ad praesentium voluptatem natus perferendis cupiditate adipisci assumenda explicabo non amet totam!Saepe, maxime architecto atque incidunt iure, hic corporis  quaerat odit iure reprehenderit, placeat nostrum pariatur?Dolore in maxime, recusandae provident.
                p accordion possimus repudiandae blanditiis esse molestias. Quidem sapiente autem, quo quam eius qui distinctio recusandae eveniet, asperiores repudiandae id earum quibusdam natus nulla, accusamus rem quod.Expedita quisquam itaque debitis voluptatibus officia doloremque laudantium, odit laboriosam omnis
                p aspernatur consequatur veniam labore ducimus, nemo iste, reiciendis vero sit. Ab animi qui adipisci error maiores fugit facere dignissimos in quos!Accusamus assumenda, unde ab in asperiores soluta reprehenderit quaerat consequatur, nam odio, quidem aliquam consequuntur facere! Ut consequuntur eum
        .listado-iconos
            .container.mt-5.py-5.text-center
                .row
                    .col-md-4
                        img(src="img/icono_seguridad.svg", alt="Icono seguridad", class="img-fluid mb-4")
                        h2.mb-4 Seguridad
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit praesentium expedita cumque ducimus voluptas architecto provident eveniet fuga, libero quas a deserunt soluta possimus, voluptatem distinctio pariatur facilis? Reprehenderit, odit!

                    .col-md-4
                        img(src="img/icono_destinos.svg", alt="Icono destinos", class="img-fluid mb-4")
                        h2.mb-4 Mejores Destinos
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit praesentium expedita cumque ducimus voluptas architecto provident eveniet fuga, libero quas a deserunt soluta possimus, voluptatem distinctio pariatur facilis? Reprehenderit, odit!

                    .col-md-4
                        img(src="img/icono_precios.svg", alt="Icono precios", class="img-fluid mb-4")
                        h2.mb-4 Los mejores Precios
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit praesentium expedita cumque ducimus voluptas architecto provident eveniet fuga, libero quas a deserunt soluta possimus, voluptatem distinctio pariatur facilis? Reprehenderit, odit!
